---
interface Props {
  name: string;
  technologies: string[];
  url: string;
}

const { name, technologies, url } = Astro.props;
---

<div class="card bg-semi-transparent hover:transform hover:-translate-y-2 transition-all duration-500">
  <a href={url} target="_blank" class="
    text-xl
    font-bold
    hover:underline
    hover:text-cyan-400
    transition-all
    duration-500
    ">{name}</a>
  <ul>
    {technologies.map((tech) => (
      <li>{tech}</li>
    ))}
  </ul>
</div>

<style>
  .bg-semi-transparent {
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta semi-transparente */
    padding: 1rem;
    border-radius: 0.5rem;
  }
</style>