---
interface Props {
    name: string;
    technologies: string[];
}

const {name, technologies} = Astro.props;
---

<div class="project-card p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <h3 class="text-2xl mb-2">{name}</h3>
    <ul class="list-disc pl-5">
        {technologies.map(tech => (
                <li>{tech}</li>
        ))}
    </ul>
</div>

<style>
    /* src/styles/global.css */
    .project-card {
        transition: transform 0.2s;
    }

    .project-card:hover {
        transform: translateY(-5px);
    }
</style>