---
interface Props {
    name: string;
    technologies: string[];
    url: string;
}
const { name, technologies, url } = Astro.props;
---
<div class="card bg-card/50 hover:-translate-y-2 transition-all duration-500 p-6 rounded-lg shadow-lg">
    <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        class="text-2xl font-bold text-card-foreground hover:text-primary transition-colors duration-300"
    >
        {name}
    </a>
    <ul class="mt-4 flex flex-wrap gap-2">
        {technologies.map((tech) => (
            <li class="text-sm bg-secondary text-secondary-foreground px-2 py-1 rounded-full">
                {tech}
            </li>
        ))}
    </ul>
</div>

<style>
    .card {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    .text-card-foreground {
        color: #EAEAEA;
    }
    .bg-card {
        background-color: #252A54;
    }
    .text-primary {
        color: #FF2E63;
    }
    .bg-secondary {
        background-color: #08D906;
    }
    .text-secondary-foreground {
        color: #252A54;
    }
</style>