---
const technologies = [
    { name: "Excel", img: "src/img/java.png" },
    { name: "Power BI", img: "src/img/Power-Bi.png" },
    { name: "Python", img: "src/img/python.png" },
    { name: "SQL", img: "src/img/sql-server.png" },
    { name: "Java", img: "/src/img/java.png" },
    { name: "Spring Framework", img: "src/img/toppng.com-spring-framework-logo-363x363.png" },
    { name: "WordPress", img: "/src/img/wordpress.png" },
    { name: "Typescript", img: "src/img/typescript.png" },
    { name: "Markdown", img: "src/img/markdown.png" },
    { name: "React", img: "src/img/reactLogo.png" },
    { name: "Tailwind CSS", img: "src/img/tailwind-css-256.png" }
];
---

<section id="technologies"
         class="
            px-8
            md:px-12
            xl:px-28
            flex
            flex-col
            gap-16
         ">
  <h2 class="text-4xl font-bold">Tecnologias</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 ">
    {technologies.map((tech) => (
      <li class="text-xl flex items-center gap-4 hover:transform
            hover:-translate-y-2
            transition-all
            duration-500">
        <img src={tech.img} alt={tech.name} class="w-8 h-8" />
        {tech.name}
      </li>
    ))}
  </ul>
</section>